#icon {
  padding-left: 12px;
  padding-right: 12px;
  height: 2.5em;
}

.jumbotron {
  margin-bottom: 0;
}

#shoplist,
#soon {
  background-color: #e9ecef;
}

#news,
#bgen {
  background-color: #d6dcf7;
}

#currentproj {
  background-color: rgb(210, 231, 168);
  font-family: "Jua", sans-serif;
}

#vid1 {
  background: transparent url("img/background-gen.png") no-repeat 0 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#vid2 {
  background: transparent url("img/shopping-list.png") no-repeat 0 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: cover;
}

#img1 {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: cover;
}

#gif {
  max-width: 100%;
  height: auto;
  width: auto;
}

.icons {
}
