#icon {
  padding-top: 2%;
  padding-left: 5%;
  height: 3em;
}

.jumbotron {
  margin-bottom: 0;
}

#shoplist {
  background-color: #e9ecef;
}

#bgen {
  background-color: #d6dcf7;
}

#currentproj {
  background-color: rgb(210, 231, 168);
  font-family: "Jua", sans-serif;
}
