body {
  font: "Raleway", sans-seif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  top: 15%;
  background: linear-gradient(to right, rgb(73, 220, 142), rgb(178, 123, 247));
}

#color1,
#color2 {
  width: 30%;
  height: 30px;
  border: 1px solid;
}

#r1 {
  background-color: #49dc8e;
  font-weight: bold;
}

#r2 {
  background-color: #b27bf7;
  font-weight: bold;
}

.table {
  border: 1px solid white;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
